* {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

body {
  background: linear-gradient(rgb(86, 119, 150), rgb(172, 229, 231));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #eee;
}

h2 {
  font-size: 25px;
}

#moon {
  width: 10%;
}

#para2 {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  z-index: 2;
  font-size: 20px;
  padding: 150px;
  text-align: justify;
  color:black;
}

#background {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: -2;
  animation: fadeIn 1.5s ease-in-out;
}

#cloud1 {
  margin-top: -1000px; 
  position: absolute;
  z-index: -1000;
  width: 800px;
  opacity: 0.6;
  animation: slideRight 100s infinite;
  filter: drop-shadow(5px 5px 5px #222222);
}

#cloud2 {
  position: absolute;
  margin-top: -1200px;
  right: 10px;
  z-index: -1;
  width: 500px;
  opacity: 0.8;
  animation: slideLeft 50s infinite;
  filter: drop-shadow(5px 5px 5px #222222);
}

/* #dragon {
  position: absolute;
  margin-top: 450px;
  right: 330px;
  z-index: 1;
  width: 400px;
  transition: 1000ms;
  filter: drop-shadow(5px 5px 5px #222222);
} */

#row1{
  z-index: 0;
  position: absolute;
  margin-top: 450px;
  filter: drop-shadow(5px 5px 5px #222222);
}

#row2{
  z-index: 1;
  position: absolute;
  margin-top: 500px;
}

#column {
  float: left;
  width: 50%;
  margin: 0px;
}

#ground1, #ground2, #ground3, #ground4 {
  width: 100%;
}

#ground1, #ground2 {
  opacity: 0.8;
  height: 500px;
}

#ground3, #ground4 {
  opacity: 0.6;
  height: 600px;
}

#ground2, #ground3 {
  transform: scaleX(-1);
}

#para1 {
  background-color: black;
  margin-top: 1250px;
  display: flex;
  justify-content: center;
  z-index: 2;
  font-size: 20px;
  padding: 150px;
  text-align: justify;
}

/* .animate-me {
  animation: bounceIn 5s infinite;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
} */

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}



